db/
*/db/
output_files/
*/output_files/
incremental_db/
*/incremental_db/
simulation/
*/simulation/
*.asm.rpt
*.done
*.fit
*.fit.*
*.flow
*.flow.*
*.jdi
*.map
*.map.*
*.pin
*.qpf
*.qsf
*.qws
*.sof
*.sta.*
*.sv.bak
